## Python
.venv
test.py
__pycache__/
modules/other/my_decorators.py
profiling.prof

## VS Code
.vscode/

## App
files/log/backup_app.log
files/backup_test.json
files/devices_test.json
files/backup_configuration/
files/log/netscriptbackup.log
config.ini.cp

## Else
test.txt